<!-- End Sidebar -->
<div>
    <div class="page-content" ng-controller="UserController as vm">


        <!-- Tables -->
        <div class="row">

            <div ng-class="{'col-lg-12':!vm.isSelected,'col-lg-8':vm.isSelected}" class="size-tran">
                <div class="widget">
                    <div class="widget-header">
                        Users
                        <div class="pull-right"><input ng-model="vm.filter" type="text" class="form-control input-sm"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th>Name</th>
                                    <th>Avatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.users | filter: vm.filter" class="row-hover" ng-click="vm.setSelected(row.id)">
                                    <td class="text-center">{{row.id}}</td>
                                    <td>{{row.name}}</td>
                                    <td><img src="{{row.gravatar}}" class="fadeIn"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-class="{'col-lg-4':vm.isSelected,'col-lg-0':!vm.isSelected}" loading>
                <div class="innerUser text-center m" ng-show="vm.userSelected!=null">
                    <div class="contact-box center-version">
                        <img alt="image" class="img-circle" src="{{vm.userSelected.gravatar}}">
                        <h3 class="m-b-xs"><strong>{{vm.userSelected.id}} - {{vm.userSelected.name}}</strong></h3>
                                          
                    </div>


               
                </div>
            </div>
        </div><!-- End Row -->
    </div><!-- End Page Content -->
</div><!-- End Content Wrapper -->
